body{
    background-color: rgb(223, 216, 216);
    text-align: center;
}
h2{
    border: 1px solid black;
    background-color: cadetblue;
    text-align: center;
}
footer{
    background-color: khaki;
    border: 1px solid black;
}